@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F7F5;
}

.font-mono {
  font-size: 0.875rem; /* 14px - same as text-sm */
  line-height: 1.25rem; /* 20px */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Marquee Animation */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  width: max-content;
}
